/* COMMON */
body {
  color: #333; /* #333333과 같은 의미 */
  font-size: 16px;
  font-weight: 400; /* 100~900의 weight 있음 */
  line-height: 1.4; /* 줄높이(행간) */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block; /* image를 글자취급하지 않겠다. inline 요소 -> block 요소  */
}

/* HEADER */
header {
  background-color: royalblue;
}
header .inner {
  /* inner : 가운데 정렬해줄 수 있는 개념 */
  width: 1100px;
  height: 120px;
  margin: 0 auto; /* margin : 외부여백, 상하 : 0, 좌우 : auto(자동) */
  background-color: orange;
}
header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* image 태그는 inline 요소 : 가로세로값 x, margin-pading의 값 x
baseline 글자의 기준선. inline 요소는 글자를 취급하는 요소
baseline 아래쪽에 특정한 공간이 출력됨 */
