/* COMMON */
body {
  color: #333; /* #333333과 같은 의미 */
  font-size: 16px;
  font-weight: 400; /* 100~900의 weight 있음 */
  line-height: 1.4; /* 줄높이(행간) */
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}
img {
  display: block; /* image를 글자취급하지 않겠다. inline 요소 -> block 요소  */
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto; /*가운데 정렬*/
  position: relative; /*위치상 부모요소가 될 수 있는 기준*/
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  border-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  border-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  border-color: #fff;
}

/* HEADER */
header {
  /* position: relative; */
  width: 100%;
  position: fixed; /*position 값이 fixed 또는 absolute인 경우 가로너비를 최소한으로 설정하게 된다*/
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  top: 0;
  z-index: 9;
}
header > .inner {
  /* > header의 자식 요소인 inner의미 */
  /* inner : 가운데 정렬해줄 수 있는 개념 */
  height: 120px;
}
header .logo {
  height: 75px;
  position: absolute; /* 부모영역에도 꼭 position값이 있는지 확인해야 한다.*/
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute; /*부모 위치를 기준으로 배치하겠다, 구조적인 부모에도 position: relative 설정이 되어있어야 한다.*/
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif; /*왼쪽 폰트가 없으면, 오른쪽 것 적용하라는 의미*/
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  /* :: 가상 요소선택자*/
  content: '';
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute; /* diplay값이 block으로 바뀐다.*/
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  /* :first-child 가상 요소선택자의 첫번째 갑*/
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  /* :hover 가상클래스 - 마우스를 가져갔을 때 */
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s; /* 0.4초 후에 원래상태로 돌아오게함*/
}
header .sub-menu .search input:focus {
  /*포커스되었을때의 가상 클래스*/
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px; /*아이콘의 폰트 크기와 동일하다*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px; /*부모요소의 맨 좌측에서 오른쪽 5px 위치*/
  margin: auto;
  transition: 0.4s; /* all은 생략되어 있고, 0.4초 에니메이션 설정*/
}
header .sub-menu .search.focused .material-icons {
  /*
  .search.focused는 붙어야 한다. 일치 선택자. 찾기의 포커스된 것
  focused가 되면 아이콘을 안보이게하겠다.
  */
  opacity: 0;
}

/* image 태그는 inline 요소 : 가로세로값 x, margin-pading의 값 x
baseline 글자의 기준선. inline 요소는 글자를 취급하는 요소
baseline 아래쪽에 특정한 공간이 출력됨 */

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1; /*요소의 짜임순서(앞뒤)*/
  display: flex; /*수평이 되게 만들어준다*/
}

header .main-menu .item {
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  /*가상클래스를 item 자체로 포괄적으로*/
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed; /*viewPort를 기준으로 한다*/
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  /*hover : 마우스를 가져다대면 동작*/
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url('../images/main_menu_pattern.jpg');
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0px;
  right: -47px;
} /* 일치선택자 */
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0px;
  right: 162px;
} /* 일치선택자 */
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0px;
  left: 257px;
}
